.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #152850;
  height: 85vh;
}

.home-image {
  height: 260px;
}

.home-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 42px;
}
